In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv('demographie.csv', error_bad_lines=False)

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,ville,lien,Population,Densité de population,Nombre de ménages,Habitants par ménage,Nombre de familles,Naissances,...,nbre immigrés (2006),nbre immigrés (2007),nbre immigrés (2008),nbre immigrés (2009),nbre immigrés (2010),nbre immigrés (2011),nbre immigrés (2012),nbre immigrés (2013),nbre immigrés (2014),nbre immigrés (2015)
0,0,0,Aast (64460),/management/ville/aast/ville-64001,173.0,36.0,70.0,2.5,47.0,1.0,...,7.0,7.0,7.0,7.0,7.0,6.0,6.0,6.0,6.0,6.0
1,1,1,Alboussière (07440),/management/ville/alboussiere/ville-07007,1065.0,58.0,414.0,2.6,287.0,10.0,...,16.0,16.0,16.0,16.0,16.0,15.0,15.0,15.0,15.0,15.0
2,2,2,Andelot-Blancheville (52700),/management/ville/andelot-blancheville/ville-5...,879.0,26.0,408.0,2.2,259.0,5.0,...,27.0,27.0,27.0,27.0,27.0,27.0,28.0,28.0,28.0,28.0
3,3,3,Arces (17120),/management/ville/arces/ville-17015,734.0,34.0,325.0,2.3,216.0,3.0,...,14.0,14.0,14.0,15.0,15.0,15.0,15.0,15.0,26.0,26.0
4,4,4,Arue (40120),/management/ville/arue/ville-40014,335.0,7.0,145.0,2.3,106.0,2.0,...,5.0,5.0,5.0,10.0,10.0,10.0,10.0,10.0,8.0,8.0

In [4]:
df['ville'].head()

0                    Aast (64460)
1             Alboussière (07440)
2    Andelot-Blancheville (52700)
3                   Arces (17120)
4                    Arue (40120)
Name: ville, dtype: object

In [5]:
df.dtypes

Unnamed: 0                int64
Unnamed: 0.1              int64
ville                    object
lien                     object
Population              float64
                         ...
nbre immigrés (2011)    float64
nbre immigrés (2012)    float64
nbre immigrés (2013)    float64
nbre immigrés (2014)    float64
nbre immigrés (2015)    float64
Length: 112, dtype: object

In [7]:
#for col in colonnes:   
    #df[col]=df[col].str.replace('\s+','')

In [34]:
df['ville']=df['ville'].str.replace('  ',' ')

In [6]:
# changé tous nc en nan
for col in list(df.columns):
    if col !='ville' and col!='lien':
        df.loc[df[col].astype(str).str.contains('nc',na=False),col]=np.nan

In [7]:
# changé tous nc en nan
for col in list(df.columns):
    if col !='ville' and col!='lien':
          df[col]=df[col].astype(float)

In [8]:
df.dtypes

Unnamed: 0              float64
Unnamed: 0.1            float64
ville                    object
lien                     object
Population              float64
                         ...
nbre immigrés (2011)    float64
nbre immigrés (2012)    float64
nbre immigrés (2013)    float64
nbre immigrés (2014)    float64
nbre immigrés (2015)    float64
Length: 112, dtype: object

In [11]:
df.to_csv('demographie.csv',index=False)

df1=pd.read_csv('demographie.csv')

In [13]:
type(df1['Hommes'].iloc[0])

numpy.float64

In [14]:
df1.head()

,Unnamed: 0,Unnamed: 0.1,ville,lien,Population,Densité de population,Nombre de ménages,Habitants par ménage,Nombre de familles,Naissances,...,nbre immigrés (2006),nbre immigrés (2007),nbre immigrés (2008),nbre immigrés (2009),nbre immigrés (2010),nbre immigrés (2011),nbre immigrés (2012),nbre immigrés (2013),nbre immigrés (2014),nbre immigrés (2015)
0,0.0,0.0,Aast (64460),/management/ville/aast/ville-64001,173.0,36.0,70.0,2.5,47.0,1.0,...,7.0,7.0,7.0,7.0,7.0,6.0,6.0,6.0,6.0,6.0
1,1.0,1.0,Alboussière (07440),/management/ville/alboussiere/ville-07007,1065.0,58.0,414.0,2.6,287.0,10.0,...,16.0,16.0,16.0,16.0,16.0,15.0,15.0,15.0,15.0,15.0
2,2.0,2.0,Andelot-Blancheville (52700),/management/ville/andelot-blancheville/ville-5...,879.0,26.0,408.0,2.2,259.0,5.0,...,27.0,27.0,27.0,27.0,27.0,27.0,28.0,28.0,28.0,28.0
3,3.0,3.0,Arces (17120),/management/ville/arces/ville-17015,734.0,34.0,325.0,2.3,216.0,3.0,...,14.0,14.0,14.0,15.0,15.0,15.0,15.0,15.0,26.0,26.0
4,4.0,4.0,Arue (40120),/management/ville/arue/ville-40014,335.0,7.0,145.0,2.3,106.0,2.0,...,5.0,5.0,5.0,10.0,10.0,10.0,10.0,10.0,8.0,8.0